@model UpdateCategoryDto
@{
	ViewData["Title"] = "UpdateCategory";
	Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-12">
			<div class="bg-light rounded h-100 p-4">
				<h6 class="mb-4">Kategori Güncelleme Sayfası</h6>
				<div class="table-responsive">
					<table class="table">
						<form method="post">
							@Html.HiddenFor(x => x.categoryID)
							<label>Kategori Adı</label>
							<br />
							<input type="text" asp-for="categoryName" class="form-control" />
							<br />
							<button type="submit" class="btn btn-primary">Kaydet</button>
						</form>

					</table>
				</div>
			</div>
		</div>
	</div>
</div>

